body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --color-1: #000137;
  --color-2: #253da1;
  --color-3: #fff;
  --color-4: #B0DBF1;
}
* {
  transition: 600ms;
}
a {
  text-decoration: none;
}
.white {
  color: var(--color-2);
}
/* Navbar section */
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-1);
  height: 80px;
  padding: 0 5%;
}
.nav-header {
  color: var(--color-4);
  font-size: 30px;
  font-weight: bold;
}
.nav-links a {
  padding-left: 15px;
  color: var(--color-3);
  transition: 600ms;
  margin: 0;
}
.nav-links a:hover {
  color: var(--color-4);
}
/* Home */
.container {
  padding: 5%;
  box-sizing: border-box;
}
.flex {
  display: flex;
  align-items: center;
}
.main{
  justify-content: space-between;
  padding: 50px 0;
}
.main-header {
  font-size: 40px;
}
.main-subsection {
  font-size: 20px;
  font-weight: 500;
}
button {
  color: var(--color-3);
  background: var(--color-1);
  border: none;
  height: 40px;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 20px;
  border-radius: 23px;
  letter-spacing: 0.2rem;
}
button:hover {
  color: var(--color-4);
}
.trending {
  background: var(--color-1);
  color: var(--color-3);
  padding-top: 50px;
  padding-bottom: 100px;
  text-align: center;
}
.trending .flex{
  /* To be changed to grid... */
  justify-content: center;
}
.trending-header {
  padding-bottom: 30px;
}
.trending a {
  color: var(--color-2);
  margin: 30px;
}
.trending a:hover {
  color: var(--color-3)
}
.trending img {
  border: none;
  margin: 0;
  padding: 0;
}
.trending-button {
  margin-top: 10px;
  background: var(--color-3);
  color: var(--color-1);
}
.flex-trending {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: none;
  padding-left: 30px;
}
/* Review */
.grid {
  display: grid;
  grid: 250px / auto auto auto auto;
}
.grid-item {
  margin: 0 20px;
 text-align: center;
 border-radius: 10px;
 background: var(--color-2);
 padding: 10px;
 box-sizing: border-box;
 color: var(--color-3);
 font-weight:300;
}
.review-header {
  text-align: center;
  font-size: 26px;
  padding-bottom: 30px;
}
.review-img {
  margin: 10px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
